@font-face { font-family: PoppinsLignt; src: url('/src/assets/fonts/Poppins-Light.ttf'); }

.table_head {
  border-collapse: collapse;
  margin-top: 1em;
  padding: 1em;
  width: 100%;
}

tr {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr;
}

table,
td,
th {
  border: 1px solid #cbc8c8;
}

.table_head th {
  padding: 0.5rem;
  text-align: left;
  background: rgb(253, 249, 249);
  font-family: PoppinsLignt, sans-serif;
}
