@font-face { font-family: PoppinsLignt; src: url('/src/assets/fonts/Poppins-Light.ttf'); }

.images {
  width: 15rem;
  height: 10.5rem;
  margin-top: 2rem;
  margin-left: 3rem;
}

.cardBody {
  margin-left: 20rem;
  margin-top: -12rem;
  margin-bottom: 3.5rem;
}

.rocket_status {
  margin-top: 1rem;
}

.join {
  background-color: rgb(54, 116, 250);
  border: none;
  border-radius: 4px;
  height: 2rem;
}

.join:active {
  background-color: rgb(99, 148, 240);
  border: none;
  border-radius: 4px;
  height: 2rem;
}

.bText {
  color: white;
  margin-top: 0.5rem;
  font-family: PoppinsLight, sans-serif;
}

.bText:active {
  color: white;
  font-family: PoppinsLight, sans-serif;
}

.active {
  width: 4rem;
  padding: 0.3rem;
  border-radius: 4px;
  background-color: rgb(9, 159, 170);
  color: white;
}

.leave {
  height: 2rem;
  color: grey;
  background-color: white;
  border: 2px solid rgb(154, 154, 154);
  border-radius: 4px;
}

.bText2 {
  margin-top: 0.3rem;
}
