@font-face { font-family: PoppinsLignt; src: url('../assets/fonts/Poppins-Light.ttf'); }

.header {
  display: flex;
  flex-direction: row;
  padding: 1.75rem 4.75rem;
  border-bottom: 1px solid rgb(215, 215, 215);
}

.header > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 50px;
  width: 50px;
}

.title {
  margin: 0 1.5rem;
  font-size: 2rem;
  font-family: PoppinsLight, sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navLink_wrap {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navLink {
  margin: 1.125rem 1.5rem;
  font-family: PoppinsLight, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: #0d00ff;
  text-decoration: none;
}

.navLink_wrap > li:last-child {
  border-left: 0.1em solid rgb(4, 4, 4);
}

.navLink:hover {
  cursor: pointer;
  text-decoration: underline #00f;
}
